In [1]:
import time
import pandas as pd
from bs4 import BeautifulSoup
import requests
import os

In [2]:
# URL of the webpage to scrape
url = 'https://www.justsunnies.com.au/new?filter.ss_is_polarised.high=0&filter.ss_is_polarised.low=0&resultsPerPage=100'

# Send an HTTP request to the website and get the response
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find all product containers (adjust selector as per your HTML structure)
    products = soup.find_all('h3', class_='prod-detail-wrapper')
    
    # Print number of products found for debugging
    print(f"Found {len(products)} products.")
    
    # Initialize lists to store product details
    brands = []
    product_names = []
    descriptions = []
    prices = []
    
    # Iterate over each product and extract details
    for idx, product in enumerate(products):
        # print(f"\nProduct {idx + 1}:")
        
        # Extract the brand name
        brand_name = product.find('p', class_='brand-name')
        if brand_name:
            brand_name = brand_name.text.strip()
        else:
            brand_name = "Brand not found"
        brands.append(brand_name)
        
        # Extract the product name
        prod_name = product.find('p', class_='prod-name')
        if prod_name:
            prod_name = prod_name.text.strip()
        else:
            prod_name = "Product name not found"
        product_names.append(prod_name)
        
        # Extract the product description
        prod_desc = product.find('p', class_='prod-desc')
        if prod_desc:
            prod_desc = prod_desc.text.strip()
        else:
            prod_desc = "Product description not found"
        descriptions.append(prod_desc)
        
        # Extract the price
        price_wrapper = product.find_next('div', class_='price-wrapper')
        if price_wrapper:
            price = price_wrapper.find('span').text.strip()
        else:
            price = "Price not found"
        prices.append(price)
else:
    print(f"Failed to retrieve the webpage. Status code: {response.status_code}")

Found 100 products.

In [3]:
prod = pd.DataFrame({
    'Brand': brands,
    'Product Name': product_names,
    'Description': descriptions,
    'Price': prices
})

In [4]:
# Save the DataFrame to a CSV file in the data folder outside this working directory
file_name = 'prod_no_polarized_no_prescribed_glasses.csv'

# if file is already in the directory, add one to the file name
i = 1
base_name, extension = os.path.splitext(file_name)
while file_name in os.listdir():
    file_name = f"{base_name}_{i}{extension}"
    i += 1

prod.to_csv(file_name, index=False)

---

1. Preprocess the polarized and prescribed dataset

In [5]:
df1 = pd.read_csv('prod_polarized_prescribed.csv')
df2 = pd.read_csv('prod_polarized_prescribed_1.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'prod_polarized_prescribed.csv'

In [65]:
df = pd.concat([df1, df2], ignore_index=True)

In [66]:
df.head()

     Brand Product Name                           Description    Price
0  Miu Miu       MU56ZS        Gold/Light Purple Brown Lenses  $538.20
1  Miu Miu         01YS        Honey Havana/Dark Brown Lenses  $509.40
2    Prada       PRA60S                   Brass/Violet Lenses  $501.30
3    Prada       PRA51S  Pale Gold/Brown Grey Gradient Lenses  $592.20
4    Prada       PRA51S           Silver/Grey Gradient Lenses  $592.20

In [67]:
df['Polarized'] = 'Yes'
df['Prescription'] = 'Prescribed Sunglasses'

In [68]:
df

,Brand,Product Name,Description,Price,Polarized,Prescription
0,Miu Miu,MU56ZS,Gold/Light Purple Brown Lenses,$538.20,Yes,Prescribed Sunglasses
1,Miu Miu,01YS,Honey Havana/Dark Brown Lenses,$509.40,Yes,Prescribed Sunglasses
2,Prada,PRA60S,Brass/Violet Lenses,$501.30,Yes,Prescribed Sunglasses
3,Prada,PRA51S,Pale Gold/Brown Grey Gradient Lenses,$592.20,Yes,Prescribed Sunglasses
4,Prada,PRA51S,Silver/Grey Gradient Lenses,$592.20,Yes,Prescribed Sunglasses
...,...,...,...,...,...,...
195,Michael Kors,Cadiz MK1145B,Shiny Light Gold/Brown Gradient Lenses,$253.80,Yes,Prescribed Sunglasses
196,Michael Kors,CATALONIA MK1144B,Shiny Rose Gold/Light Brown and Pink Gradient ...,$253.80,Yes,Prescribed Sunglasses
197,Michael Kors,CATALONIA MK1144B,Shiny Light Gold/Brown Gradient Lenses,$253.80,Yes,Prescribed Sunglasses
198,Dolce & Gabbana,DG4471,Transparent Violet/Lilac Isa Black Silver Mirr...,$413.10,Yes,Prescribed Sunglasses
199,Dolce & Gabbana,DG4471,Black/Dark Grey Lenses,$413.10,Yes,Prescribed Sunglasses

In [69]:
df.to_csv('test_data/ploarized_prescribed_sunglasses.csv', index=False)

---

2. No polarized No prescibed

In [75]:
df = pd.read_csv('prod_no_polarized_no_prescribed_glasses.csv')
df.head()

            Brand Product Name          Description    Price
0  Bottega Veneta      BV1325S    Black/Grey Lenses  $655.00
1  Bottega Veneta      BV1319S    Black/Grey Lenses  $620.00
2  Bottega Veneta      BV1319S  Havana/Brown Lenses  $620.00
3  Bottega Veneta      BV1005S    Black/Grey Lenses  $725.00
4           Chloe      CH0259S   Black/Brown Lenses  $661.50

In [76]:
df['Polarized'] = 'No'
df['Prescription'] = 'No'

In [77]:
df.head()

,Brand,Product Name,Description,Price,Polarized,Prescription
0,Bottega Veneta,BV1325S,Black/Grey Lenses,$655.00,No,No
1,Bottega Veneta,BV1319S,Black/Grey Lenses,$620.00,No,No
2,Bottega Veneta,BV1319S,Havana/Brown Lenses,$620.00,No,No
3,Bottega Veneta,BV1005S,Black/Grey Lenses,$725.00,No,No
4,Chloe,CH0259S,Black/Brown Lenses,$661.50,No,No

In [78]:
df.to_csv('test_data/no_polarized_no_prescribed.csv', index=False)

---

3. No polarized Prescribed Sunglasses

In [79]:
df1 = pd.read_csv('prod_no_polarized_prescribed.csv')
df2 = pd.read_csv('prod_no_polarized_prescribed_1.csv')

df = pd.concat([df1, df2], ignore_index=True)

In [80]:
df.head()

     Brand Product Name                           Description    Price
0  Miu Miu       MU56ZS        Gold/Light Purple Brown Lenses  $538.20
1  Miu Miu         01YS        Honey Havana/Dark Brown Lenses  $509.40
2    Prada       PRA60S                   Brass/Violet Lenses  $501.30
3    Prada       PRA51S  Pale Gold/Brown Grey Gradient Lenses  $592.20
4    Prada       PRA51S           Silver/Grey Gradient Lenses  $592.20

In [81]:
df['Polarized'] = 'No'
df['Prescription'] = 'Prescribed Sunglasses'

In [82]:
df.to_csv('test_data/no_polarized_prescribed_sunglasses.csv', index=False)

---

4. No polarized Prescibed Glasses

In [83]:
df1= pd.read_csv('prod_no_polarized_prescribed_glasses.csv')
df2 = pd.read_csv('prod_no_polarized_prescribed_glasses_1.csv')

df = pd.concat([df1, df2], ignore_index=True)

In [84]:
df.head()

,Brand,Product Name,Description,Price
0,Oakley Glasses,Enigma Ink OX8190,Satin Black/Clear Lenses 55 Eye Size,$237.60
1,Ray-Ban Glasses,Kat RX7327,Lilac/Clear Lenses 50 Eye Size,$169.20
2,Ray-Ban Glasses,Kat RX7327,Algae Green/Clear Lenses 50 Eye Size,$169.20
3,Ray-Ban Glasses,Kat RX7327,Havana/Clear Lenses 50 Eye Size,$169.20
4,Ray-Ban Glasses,Kat RX7327,Black/Clear Lenses 50 Eye Size,$169.20

In [85]:
df['Polarized'] = 'No'
df['Prescription'] = 'Prescribed Glasses'

In [86]:
df.to_csv('test_data/no_polarized_prescribed_glasses.csv', index=False)

---

5. Merge all the data

In [87]:
df1 = pd.read_csv('test_data/no_polarized_no_prescribed.csv')
df2 = pd.read_csv('test_data/no_polarized_prescribed_glasses.csv')
df3 = pd.read_csv('test_data/no_polarized_prescribed_sunglasses.csv')
df4 = pd.read_csv('test_data/ploarized_prescribed_sunglasses.csv')

df = pd.concat([df1, df2, df3, df4], ignore_index=True)

In [88]:
df.shape

(700, 6)

In [94]:
# show the duplicated rows ['Brand', 'Product Name', 'Description', 'Price']
df[df.duplicated(subset=['Brand', 'Product Name', 'Description', 'Price'], keep=False)].sort_values(by=['Brand', 'Product Name', 'Description', 'Price']).head(30)

,Brand,Product Name,Description,Price,Polarized,Prescription
338,Bask Eyewear,Peggy,Tea Tort/Brown Gradient Polarised Lenses,$220.00,No,Prescribed Sunglasses
538,Bask Eyewear,Peggy,Tea Tort/Brown Gradient Polarised Lenses,$220.00,Yes,Prescribed Sunglasses
339,Bask Eyewear,Sandy,Black/Grey Gradient Polarised Lenses,$220.00,No,Prescribed Sunglasses
539,Bask Eyewear,Sandy,Black/Grey Gradient Polarised Lenses,$220.00,Yes,Prescribed Sunglasses
340,Bask Eyewear,Sandy,Tea Tort/Brown Polarised Lenses,$220.00,No,Prescribed Sunglasses
540,Bask Eyewear,Sandy,Tea Tort/Brown Polarised Lenses,$220.00,Yes,Prescribed Sunglasses
387,Bolle,Fenix,Matte Black/Phantom Brown Photochromic Lenses,$268.20,No,Prescribed Sunglasses
587,Bolle,Fenix,Matte Black/Phantom Brown Photochromic Lenses,$268.20,Yes,Prescribed Sunglasses
324,Coach,HC8391U,Caramel Tortoise/Brown Lenses,$179.35,No,Prescribed Sunglasses
524,Coach,HC8391U,Caramel Tortoise/Brown Lenses,$179.35,Yes,Prescribed Sunglasses
332,Dolce & Gabbana,DG4416,Black/Grey Lenses,$334.80,No,Prescribed Sunglasses
532,Dolce & Gabbana,DG4416,Black/Grey Lenses,$334.80,Yes,Prescribed Sunglasses
334,Dolce & Gabbana,DG4416,Havana/Dark Brown Lenses,$334.80,No,Prescribed Sunglasses
534,Dolce & Gabbana,DG4416,Havana/Dark Brown Lenses,$334.80,Yes,Prescribed Sunglasses
333,Dolce & Gabbana,DG4416,Leopard/Dark Grey Lenses,$334.80,No,Prescribed Sunglasses
533,Dolce & Gabbana,DG4416,Leopard/Dark Grey Lenses,$334.80,Yes,Prescribed Sunglasses
392,Dolce & Gabbana,DG4446B,Black/Grey Lenses,$504.90,No,Prescribed Sunglasses
592,Dolce & Gabbana,DG4446B,Black/Grey Lenses,$504.90,Yes,Prescribed Sunglasses
331,Dolce & Gabbana,DG4449,Havana and White Barrow/Brown Gradient Lenses,$382.50,No,Prescribed Sunglasses
531,Dolce & Gabbana,DG4449,Havana and White Barrow/Brown Gradient Lenses,$382.50,Yes,Prescribed Sunglasses
325,Emporio Armani,EA4219,Matte Black/Grey Polarised Lenses,$264.35,No,Prescribed Sunglasses
525,Emporio Armani,EA4219,Matte Black/Grey Polarised Lenses,$264.35,Yes,Prescribed Sunglasses
320,Michael Kors,Flatiron MK2185BU,Black/Dark Grey Gradient Lenses 54 Eye Size,$253.80,No,Prescribed Sunglasses
520,Michael Kors,Flatiron MK2185BU,Black/Dark Grey Gradient Lenses 54 Eye Size,$253.80,Yes,Prescribed Sunglasses
319,Michael Kors,Flatiron MK2185BU,Dark Tortoise/Brown Gradient Lenses 54 Eye Size,$253.80,No,Prescribed Sunglasses
519,Michael Kors,Flatiron MK2185BU,Dark Tortoise/Brown Gradient Lenses 54 Eye Size,$253.80,Yes,Prescribed Sunglasses
321,Michael Kors,Malta MK2181U,Black/Dark Grey Gradient Lenses 55 Eye Size,$166.50,No,Prescribed Sunglasses
521,Michael Kors,Malta MK2181U,Black/Dark Grey Gradient Lenses 55 Eye Size,$166.50,Yes,Prescribed Sunglasses
77,Miu Miu,01YS,Honey Havana/Dark Brown Lenses,$509.40,No,No
301,Miu Miu,01YS,Honey Havana/Dark Brown Lenses,$509.40,No,Prescribed Sunglasses

In [96]:
df['Brand'].value_counts()

Brand
Ray-Ban                      105
Oakley                        65
Ray-Ban Glasses               58
Prada                         45
Prada Glasses                 36
Michael Kors                  29
Versace Glasses               26
Valley Eyewear                25
Emporio Armani                24
Burberry Glasses              23
Miu Miu                       23
Coach                         20
GUCCI                         17
Prada Linea Rossa Glasses     16
Persol                        13
Boss                          12
Dolce & Gabbana               12
Oakley Glasses                12
Raen                          10
Oakley Youth                   9
Versace                        9
Tiffany & Co. Glasses          9
Isabel Marant                  9
Arnette                        8
Serengeti                      8
Miu Miu Glasses                7
Persol Glasses                 7
Polo Ralph Lauren              7
Bask Eyewear                   6
Prada Linea Rossa              6
AM Eyewear                     6
Dirty Dog                      6
Saint Laurent                  5
Giorgio Armani                 5
Bottega Veneta                 4
Michael Kors Glasses           3
Dolce & Gabbana Glasses        3
Cancer Council Kids            3
Chloe                          2
Bolle                          2
Locello                        2
OTIS                           2
Epokhe                         1
Name: count, dtype: int64

In [111]:
# remove the brand that has value count less than 8 
df = df[df.groupby('Brand').Brand.transform('count') > 7]

In [112]:
df.shape

(649, 6)

In [113]:
df.Brand.value_counts()

Brand
Ray-Ban              163
Prada                 81
Oakley                77
Versace               35
Michael Kors          32
Miu Miu               30
Valley Eyewear        25
Emporio Armani        24
Burberry              23
Prada Linea Rossa     22
Coach                 20
Persol                20
GUCCI                 17
Dolce & Gabbana       15
Boss                  12
Raen                  10
Isabel Marant          9
Tiffany & Co.          9
Oakley Youth           9
Serengeti              8
Arnette                8
Name: count, dtype: int64

In [116]:
df['Brand'] = df['Brand'].str.replace('Glasses', '').str.strip()
df['Brand'] = df['Brand'].str.replace('Eyewear', '').str.strip()

In [117]:
df.Brand.value_counts()

Brand
Ray-Ban              163
Prada                 81
Oakley                77
Versace               35
Michael Kors          32
Miu Miu               30
Valley                25
Emporio Armani        24
Burberry              23
Prada Linea Rossa     22
Coach                 20
Persol                20
GUCCI                 17
Dolce & Gabbana       15
Boss                  12
Raen                  10
Isabel Marant          9
Tiffany & Co.          9
Oakley Youth           9
Serengeti              8
Arnette                8
Name: count, dtype: int64

In [118]:
df.head()

,Brand,Product Name,Description,Price,Polarized,Prescription
6,GUCCI,GG1736S,Black/Grey Lenses,$575.00,No,No
7,GUCCI,GG1732SK,Black/Grey Lenses,$700.00,No,No
8,GUCCI,GG1719S,Black/Grey Lenses,$495.00,No,No
9,GUCCI,GG1719S,Red/Violet Lenses,$495.00,No,No
10,GUCCI,GG1714S,Black/Grey Gradient Lenses,$390.00,No,No

In [131]:
# create 2 column by splitting the 'Description' column
# description column is splitted by / and the first part is stored in 'Frame Color' column and the second part is stored in 'Lense Color' column
df[['Frame Color', 'Lense Color']] = df['Description'].str.split('/', n=1, expand=True)

In [133]:
df['Lense Color'] = df['Lense Color'].str.replace('Lenses', '').str.strip()
df.drop('Description', axis=1, inplace=True)

In [134]:
df.rename(columns={'Product Name': 'Product_Name', 'Frame Color': 'Frame_Color', 'Lense Color': 'Lense_Color'}, inplace=True)

In [136]:
df.reset_index(drop=True, inplace=True)

In [137]:
df.head()

,Brand,Product_Name,Price,Polarized,Prescription,Frame_Color,Lense_Color
0,GUCCI,GG1736S,$575.00,No,No,Black,Grey
1,GUCCI,GG1732SK,$700.00,No,No,Black,Grey
2,GUCCI,GG1719S,$495.00,No,No,Black,Grey
3,GUCCI,GG1719S,$495.00,No,No,Red,Violet
4,GUCCI,GG1714S,$390.00,No,No,Black,Grey Gradient

In [140]:
df.to_csv('../data/product_details.csv', index=False, header=True)

In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('../data/product_details.csv')

In [8]:
# Generate unique 8-digit item IDs
num_products = len(df)
unique_ids = np.random.choice(range(10000000, 100000000), num_products, replace=False)

# Assign the unique IDs to a new column
df['Item ID'] = unique_ids

In [9]:
df.to_csv('../data/product_details.csv', index=False)

In [2]:
import pandas as pd

In [3]:
prod = pd.read_csv('../data/product_details.csv')

prod.head()

,Brand,Product_Name,Price,Polarized,Prescription,Frame_Color,Lense_Color,Eye_Size,Item ID
0,GUCCI,GG1736S,575.0,No,No,Black,Grey,NaN,67279410
1,GUCCI,GG1732SK,700.0,No,No,Black,Grey,NaN,53115940
2,GUCCI,GG1719S,495.0,No,No,Black,Grey,NaN,15304140
3,GUCCI,GG1719S,495.0,No,No,Red,Violet,NaN,31284680
4,GUCCI,GG1714S,390.0,No,No,Black,Grey Gradient,NaN,30166194

In [4]:
prod.shape

(649, 9)

In [13]:
# I have some null values in the 'eye_size' column and I want to fill them with the value above them
# shuffle the dataframe
prod = prod.sample(frac=1).reset_index(drop=True)
prod.head()

,Brand,Product_Name,Price,Polarized,Prescription,Frame_Color,Lense_Color,Eye_Size,Item ID
0,Ray-Ban,Aviator RX6489,201.6,No,Prescribed Glasses,Silver,Clear,55 Eye Size,79189032
1,Valley,Tomahawk,260.0,No,Prescribed Sunglasses,Crystal with Silver Metal,Black,NaN,39878751
2,Oakley,Radar EV Path,333.9,No,Prescribed Sunglasses,Matte Grey Ink,Prizm Deep Water Polarised,NaN,39775104
3,Ray-Ban,Jim RB3694,219.6,Yes,Prescribed Sunglasses,Havana on Gunmetal,Vintage Brown Black Gradient Glass,55 Eye Size,31485446
4,Oakley,BiSphaera,300.6,No,Prescribed Sunglasses,Matte Carbon,Prizm,24K Mirror Polarised,61448395

In [16]:
prod['Eye_Size'].fillna(method='ffill', inplace=True)

C:\Users\ayush\AppData\Local\Temp\ipykernel_14292\2759714469.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  prod['Eye_Size'].fillna(method='ffill', inplace=True)
C:\Users\ayush\AppData\Local\Temp\ipykernel_14292\2759714469.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  prod['Eye_Size'].fillna(method='ffill', inplace=True)

In [17]:
prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         649 non-null    object
 1   Product_Name  649 non-null    object
 2   Price         649 non-null    float64
 3   Polarized     649 non-null    object
 4   Prescription  649 non-null    object
 5   Frame_Color   649 non-null    object
 6   Lense_Color   649 non-null    object
 7   Eye_Size      649 non-null    object
 8   Item ID       649 non-null    int64
dtypes: float64(1), int64(1), object(7)
memory usage: 45.8+ KB

In [19]:
prod.to_csv('../data/product.csv', index=False)